@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Homemade+Apple&family=Lato:wght@100&family=Open+Sans:wght@300&family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
    background-color: #f3f1f7;
    font-family: 'Caveat', cursive;
    font-family: 'Homemade Apple', cursive;
    font-family: 'PT Sans Caption', sans-serif;
    margin-top: 20px;
    }

    *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

.App{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transform: translateY(-50px);
}

.PostsParent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    }

.PostsParent h1 {
    color: #03a9f4;
    font-size: 3.5em;
    font-family: 'Homemade Apple', cursive;
    font-family: 'Satisfy', cursive;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Marck Script', cursive;
    margin-bottom: 15px;
    animation: float 2s infinite alternate ease-in-out;
}

@keyframes float {
    0% {transform: translateY(-7px)}
    100% {transform: translateY(px)}
    /* 50% {transform: translate(0)}
    75% {transform: translateY(-10px)}
    100% {transform: translate(0)} */
}

.NewThought {
border: 2px solid rgb(0, 0, 0);
border-radius: 10px;
background-color: #03a9f4;
width: 100%;
height: 50px;
margin-top: 15px;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
font-weight: 900;
font-size: 1rem;
color: white;
transition: 250ms;
}

.NewThought:hover {
    background-color: #0094d8;
    border: 2px solid #262d30;
    transform: scale(1.01);
}



.PostsMap {
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
}

.PostInList {
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.EachPost{
    border-bottom: 1px solid rgb(196, 196, 196);
    padding: -20px;
    width: 100%;
    text-align: left;
}

.TrashIcon {
    align-self: flex-end;
    padding: 0 10px 13px 0;
    position: absolute;
    right: 20px;
    transition: 250ms;
    /* border: 2px dashed black; */
    /* border-radius: 50%; */
}

.TrashIcon:hover {
    transform: scale(1.2);
}


#PostTitle {
font-weight: 900;
font-size: 24px;
}

.PostForm {
    width: fit-content;
    border: 2px solid black;
    background-color: #79c5e8;
    border-radius: 10px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

}

#title{
    border-radius: 5px;
    width: 500px;
    height: 50px;
}

#thoughtTextArea{
    border-radius: 5px;
    width: 500px;
}

#submitForm{
    border-radius: 5px;
    width: 507px;
    height: 40px;
    
}

#CloseFormIcon {
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.blurBG {
    background-color: black;
    opacity: 80%;
    position: absolute;
    height: 500vh;
    width: 500vh;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

/* @media screen and (min-width: 480px){
    
} */

