@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Homemade+Apple&family=Lato:wght@100&family=Open+Sans:wght@300&family=PT+Sans+Caption&display=swap');

body {
    background-color: #f3f1f7;
    font-family: 'Caveat', cursive;
font-family: 'Homemade Apple', cursive;
/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */
font-family: 'PT Sans Caption', sans-serif;
    }

.PostsParent h1 {
    color: #03a9f4;
    font-family: 'Homemade Apple', cursive;
}

.NewThought {
border-radius: 10px;
background-color: #03a9f4;
width: 500px;
height: 50px;
margin-bottom: 7px;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
font-weight: 900;
font-size: 1rem;
color: white;


}

.PostsParent {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.PostsMap {
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    width: 500px;
    
}

.PostInList {
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
}

.EachPost{
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: -20px;
    width: 500px;
}

#TrashIcon {
    transform: scale(0.5);
    position: absolute;
    right: 10%;
    
}

#PostTitle {
font-weight: 900;
font-size: 24px;
}

.PostForm {
    width: fit-content;
    border: 2px solid black;
    background-color: #79c5e8;
    border-radius: 10px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

}

#title{
    border-radius: 5px;
    width: 500px;
    height: 50px;
}

#thoughtTextArea{
    border-radius: 5px;
    width: 500px;
}

#submitForm{
    border-radius: 5px;
    width: 507px;
    height: 40px;
    
}


#CloseFormIcon {
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.blurBG {
    background-color: black;
    opacity: 80%;
    position: absolute;
    height: 500vh;
    width: 500vh;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

